fieldset {
  background: cornflowerblue;
  border: 5px solid blue;
  }

legend {
  padding: 10px;
  background: #8a2be2;
  color: cyan;
}

.observed-list {
  display: inline-block;
  vertical-align: top;
}

.selected-id-block {
  display: inline-block;
  background-color: blue;
  border: 1px solid crimson;
  padding: 10px;
  margin: 10px;
  
  height: 200px;
}

.selected-ids-block {
  display: inline-block;
}

/* .button-container {
  text-align: left;
  margin-top: 10px; 
}

.button-container button {
  display: inline-block;
  margin-right: 10px;
} */
