fieldset {
    display: inline-block;
    background: cornflowerblue;
    border: 5px solid blue;
  }

  legend {
    padding: 10px;
    background: blueviolet;
    color: cyan;
  }

.selected-id-block {
    background-color: blue;
    border: 1px solid crimson;
    padding: 10px;
    margin-top: 10px;
}
