{% extends 'parsing/base.html' %}
{% load parsing_tags %}


{% block content %}

<h1>

    {% if observed_id %}
    {% getlastprices observed_id as goods %}
    Товары магазина {{observed}}
    {% else %}
    {% getlastprices as goods %}
    Все товары
    {% endif %}

</h1>

    <ul>
        {% if goods.count == 0 %}
        <h3>
            Товары отсутствуют
        {% else %}
        </h3>
        {% for good in goods.goods %}
        <li>    
            <div>
                <a href="#" id="{{good.pk}}">{{good.name}}</a>
                <p>
                    Цена: {{good.price}}
                </p>
            </div>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
{% endblock %}