{% extends 'parsing/base.html' %}
{% load parsing_tags %}


{% block content %}

<h1>
    Все товары
</h1>

    <ul>
        {% if goods|length == 0 %}
        <h3>
            Товары отсутствуют или не найдены
        {% else %}
        </h3>
        {% for good in goods %}
        <li>    
            <div>
                <a href="{% url 'good_prices' good_id=good.pk %}" id="{{good.pk}}">{{good.name}}</a>
            </div>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
