{% extends 'parsing/base.html' %}
{% load parsing_tags %}


{% block content %}
{% getgoodbyid good_id=good_id as good %}
<h2>
    Цены на товар: {{good.name}}
</h2>

<div class="contains-stores">
    {% for store in contains %}
    <p class="store-name" id="{{store.observed.pk}}" >
        Магазин: <a href="{% url 'observed_list' observed_id=store.observed.pk %}">{{store.observed.name}}</a>
    </p>
    <ul class="good-prices">
        {% for price in store.prices %}
        <li class="good-price-pair"> 
            Дата: {{price.date}}, Цена: {{ price.price }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

    <a href="{% url 'set_origin' good_id=good_id %}">Добавить товар</a>
</div>
{% endblock %}