{% extends 'parsing/base.html' %}
{% load parsing_tags %}


{% block content %}

<h1>

    {% if observed_id %}
    {% getlastprices observed_id as goods %}
    Товары магазина {{goods.observed}}
    {% else %}
    {% getlastprices as goods %}
    Все товары
    {% endif %}

</h1>

    <ul>
        {% if goods.goods.count == 0 %}
        <h3>
            Товары отсутствуют или не найдены
        {% else %}
        </h3>
        {% for good in goods.goods %}
        <li>    
            <div>
                <a href="/goods/{{good.good_id}}" id="{{good.good_id}}">{{good.name}}</a>
                {% if observed_id %}
                <p>
                    Цена: {{good.price}}
                </p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
