{% load static %}
{% load parsing_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'parsing/css/styles.css' %}"/>
    <script src="{% static 'parsing/js/checkboxes_checking.js' %}"></script>
    <script src="{% static 'parsing/js/clear_checkboxes.js' %}"></script>
    <script src="{% static 'parsing/js/check_all_checkboxes.js' %}"></script>
</head>

<body>

    <div class="observed-list">
        <fieldset>
            <legend>Choose a observed company:</legend>
            {% getobs as observed %}
            {% for obs in observed %}
            <br>
            <div>
                <input type="checkbox" id="{{obs.pk}}" name="{{obs.name}}" class="observed-checkbox"/>
                <label for="{{obs.name}}">{{obs.name}}</label>
        </div>
        {% endfor %}
        </fieldset>
    </div>

    <div id="selected-ids-block" class="selected-ids-block">
        <!-- Здесь будут отображаться выбранные ID -->
    </div>

    <div class="button-container">
        <button id="clear-checkboxes">Uncheck all</button>
    </div>

    <div class="button-container">
        <button id="check-all-checkboxes">Check all</button>
    </div>

</body>

</html>