{% extends 'parsing/base.html' %}
{% load parsing_tags %}
{% load static %}

{% block content %}
<script src="{% static 'parsing/js/add_origin_to_good.js' %}"></script>
{% getgoodbyid good_id=good_id as current_good %}
<h3>
    Добавить к товару: {{current_good.name}}
</h3>
<p>
    Потом тут будет поиск по товарам
</p>
<div class="void-goods-list">
    <table>
        {% for good in void_goods %}
        <tr>
            <th>        
                <input type="checkbox" id="void-goods-item" name="{{good.pk}}" class="void-goods-item"/>
            </th>
            <th>
                {{good.name}}
            </th>
            <th>{{good.company}}</th>
            {% if good.link %}
            <th><a href="{{good.link}}">Ссылка</a></th>
            {% else %}
            <th><a href="#">Ссылка</a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </table> 
    <button data-good-id="{{good_id}}" id="add-to-good">Добавить</button>
    <button data-good-id="{{good_id}}" id="cancel-add-good">Назад</button>
</div>

<script>

document.getElementById('cancel-add-good').addEventListener('click', function () {
    const good_id = this.getAttribute('data-good-id');
    window.location.href = "{% url 'good_prices' good_id=good_id %}";
    });

document.addEventListener('DOMContentLoaded', function () {
    const checkboxes = document.querySelectorAll('.void-goods-item');
    let add_goods_ids = [];
    document.getElementById('add-to-good').addEventListener('click', function () {
        add_goods_ids = [];
        const good_id = this.getAttribute('data-good-id');
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                checkbox.checked = true;
                const name = checkbox.getAttribute('name');
                add_goods_ids.push(name);
            }
        });
        
        // Выполняем fetch-запрос
        fetch(`/add_origin_to_good/?origin_id=${good_id}&correspond_good_ids=${add_goods_ids.join(',')}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Если запрос успешен, выполняем перенаправление
                window.location.href = "{% url 'good_prices' good_id=good_id %}";
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                // Дополнительная обработка ошибки, если необходимо
            });
    });
});

</script>

{% endblock%}